/* GIG BUILDER SECTION */
.gig_builder_progress {
    padding:15px 25px;
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:25px;
    list-style: none;
}
.gig_builder_progress_item {
    color:var(--medium-grey);
    cursor: pointer;
}
.gig_builder_progress_item.active {
    color:var(--off-black);
    cursor: auto;
    font-weight: 500;
}
.gig_builder_progress_item.unavailable {
    cursor: not-allowed;
}
.gig_builder_progress_arrow {
    color: var(--medium-grey);
}
.gig_builder_stages {
    padding:10px 25px;
}
.gig_builder_stages_next_button {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.next_button {
    border:none;
    background-color: var(--gigin-orange);
    color:var(--true-white);
    padding:10px;
    border-radius: 10px;
    font-family: var(--font-family);
    font-size: 1.05rem;
}
.next_button:hover {
    background-color: var(--gigin-orange-trans);
    cursor: pointer;
}
.next_button.disabled {
    cursor: not-allowed;
    background-color: var(--gigin-orange-trans);
}
.gig_post_processing {
    border:1px solid var(--medium-grey);
    background-color: var(--light-grey);
    border-radius: 25px;
    width:50%;
    height:200px;
    margin: 50px auto;
    padding:25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gig_post_processing_loader_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
    font-weight: 300;
}
.gig_post_message {
    text-align: center;
    font-weight: 300;
}



/* FULLCALENDAR STYLING */
.fc {
    max-height:600px;
    max-width: 80%;
    margin: 0 auto;
}
:root {
    --fc-border-color: #ffffff;
}
/* HEADER */
.fc-toolbar-title {
    font-size: 1.25rem;
    font-weight: 500;
    color:var(--off-black);
}
.fc .fc-button {
    text-transform: capitalize;
    background-color: #fff;
    border:none;
    color:var(--off-black);
}
.fc .fc-button:hover {
    opacity: 0.8;
    background-color: #fff;
    color:var(--off-black);
}
.fc .fc-button:active {
    opacity: 0.8;
    background-color: #fff !important;
    color:var(--off-black) !important;
}
.fc .fc-button-primary:disabled {
    background-color: #ffffff;
    border-color: #fff;
    color:var(--off-black);
    text-transform: capitalize;
}

/* MON-FRI HEADERS */
.fc-col-header-cell {
    font-weight: 400;
    color:var(--medium-grey);
}

/* DAYS */
tbody .fc-day {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 300;
}
tbody .fc-day:hover {
    color: var(--dark-grey);
}
.fc-daygrid-day-events {
    display: none;
}
.fc-daygrid-day-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.fc-day-past {
    color:var(--medium-grey);
}
.fc-day-past:hover {
    cursor: auto;
    color: var(--medium-grey);
}
.fc-day-today {
    background-color: #fff !important;
    color:var(--off-black);
    font-weight: 600;
}

/* GIG INFO FORM */
.gig_info_stage_top_message {
    margin-bottom: 15px;
    font-size: 0.8rem;
    color: var(--dark-grey);
}
.gig_info_stage_form_cont {
    margin: 25px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.gig_info_stage_form_cont:last-of-type {
    align-items: flex-start;
}
.gig_info_stage_form_genre_cont {
    display: flex;
    margin:5px 0;
}
.gig_info_stage_form_label {
    font-family: var(--font-family);
    font-weight: 600;
    margin-right: 15px;
}
/* GENRE SELECT */
.gig_info_stage_form_select_genre {
    padding: 3px;
    border-radius: 5px;
    font-family: var(--font-family);
    margin-right: 5px;
}
.gig_info_stage_form_add_button, .gig_info_stage_form_remove_button {
    border: none;
    background-color: var(--true-white);
    color:var(--gigin-orange);
    font-size: 1.25rem;
}
.gig_info_stage_form_add_button {
    margin: 0 5px;
}
.gig_info_stage_form_remove_button {
    margin-right:5px;
}

.gig_info_stage_form_add_button:hover, .gig_info_stage_form_remove_button:hover {
    color: var(--gigin-orange-trans);
    cursor: pointer;
}


/* PREFERRED MUSIC TYPE */
.gig_info_stage_form_radio_input {
    display: none;
}
.gig_info_stage_form_radio_input_label {
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 10px 25px;
    position: relative;
    background-color: var(--light-grey);
    border-radius: 5px;
    margin:0 5px;
    transition: all 100ms linear;
    color: var(--off-black);
}
.gig_info_stage_form_radio_input_label:hover {
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: all 100ms linear;
}
.gig_info_radio_option_1.radio_clicked {
    background: var(--gigin-orange);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: var(--true-white);
    transition: all 100ms linear;
}
.gig_info_radio_option_2.radio_clicked {
    background: var(--gigin-orange);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: var(--true-white);
    transition: all 100ms linear;
}
.gig_info_radio_option_3.radio_clicked {
    background: var(--gigin-orange);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: var(--true-white);
    transition: all 100ms linear;
}

/* TIME INPUTS */
.gig_info_stage_form_time_cont {
    display: flex;
    align-items: center;
}
.gig_info_stage_form_time_hours, .gig_info_stage_form_time_minutes {
    border-color: var(--medium-grey);
    border-radius: 5px;
    padding:2px;
    font-family: var(--font-family);
}
.gig_info_stage_form_time_divide {
    margin: 0 5px;
}
.gig_info_stage_form_time_divide_text {
    font-size: 0.8rem;
    margin: 0 10px 0 5px;
    color: var(--dark-grey);
}

/* GUIDE FEE */
.gig_info_stage_form_monetary_input_container {
    display: flex;
    align-items: center;
}
.gig_info_stage_form_monetary_input_container span {
    margin-right: 5px;
}
.gig_info_stage_form_monetary_input_container input {
    border:1px solid var(--medium-grey);
    border-radius: 5px;
    height:25px;
    padding:2px;
    font-family: var(--font-family);
}

/* DESCRIPTION */
.gig_info_description {
    border:1px solid var(--medium-grey);
    border-radius: 5px;
    font-family: var(--font-family);
    padding:2px;
    min-height:100px;
    min-width:400px;
}

/* SAVE BUTTON */
.gig_info_form_save_button {
    text-align: center;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
    background-color: var(--dark-grey);
    border:none;
    border-radius: 5px;
    margin:0 5px;
    transition: all 100ms linear;
    color: var(--true-white);
    font-weight: 500;
}
.gig_info_form_save_button:hover {
    background: var(--gigin-orange);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: all 100ms linear;
}
.gig_info_form_save_button:active {
    background: var(--gigin-orange-trans);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: var(--true-white);
    transition: all 100ms linear;
}

/* ERRORS */




/* GIG CONFIRMATION STAGE */
.gig_confirm_stage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin:25px auto;
}
/* .gig_confirm_stage h2 {
    font-size: 1.25rem;
    font-weight: 500;
} */
.gig_confirm_stage_left_flex, .gig_confirm_stage_right_flex {
    list-style: none;
}
.gig_confirm_stage_genres {
    font-weight:300 !important;
    text-transform: capitalize;
}
.gig_confirm_stage_left_flex li {
    margin: 20px 0;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.1rem;
}
.gig_confirm_stage_left_flex li:last-of-type {
    text-transform: none;
}
.gig_confirm_stage_left_flex li span {
    font-weight: 600;
}
.gig_confirm_stage_right_venue_name {
    margin:10px 0;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}
.gig_confirm_stage_right_venue_address {
    margin:10px 0;
    font-size: 0.9rem;
    text-align: center;
}

