/* HEADER */
.header {
    font-family: var(--quicksand);
    padding:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left_flex {
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    gap:15px;
}
.user_type_select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:1px;
    color: var(--off-black);
}
.select_box {
    border:none;
    font-family: var(--quicksand);
    color: var(--off-black);
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}
.header_right_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}