/* *** ACCOUNTS PAGES *** */


/* Form styling */
.gateway_page_body {
    padding:50px;
    width:100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gateway_page_header {
    width:150px;
    margin-bottom:25px;
}
.gateway_page_logo {
    width:100%;
    height:auto;
}
.gateway_page_main {
    background-color: var(--off-white);
    border-radius: 25px;
    padding:25px;
    width:250px;
}
.gateway_page_title {
    text-align: center;
    margin-bottom:25px;
}
.gateway_page_message {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 25px;
}
.gateway_page_form {
    display: flex;
    flex-direction: column;
    gap:25px;
}
.gateway_page_form_input {
    width:100%;
    height:40px;
    padding:10px;
    border:none;
    border-radius: 5px;
    font-family: var(--font-family);
}
.gateway_page_venue_name_input {
    display: flex;
    flex-direction: column;
    gap:25px;
}





/* Sign up page specifics */
.signup_page_radio_question {
    font-size: 14px;
    text-align: center;
}
.signup_page_radio_input div {
    font-size: 14px;
    margin-top:10px;
    display: flex;
    justify-content: space-evenly;
}
.signup_page_form_radio {
    margin-right: 5px;
    cursor: pointer;
}
.hidden {
    display: none;
}


/* Forgot password page specifics */
.forgot_password_message {
    font-size: 0.8rem;
    text-align: center;
}
.forgot_password_link {
    color:var(--true-black);
    text-decoration: none;
}
.forgot_password_link:hover {
    text-decoration: underline;
}


/* Submission processing box */
.submission_processing {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
}


/* New layout */
.accounts_body {
    border:1px solid red;
    width:100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accounts_left_side {
    border:1px solid var(--gigin-orange);
    width:50%;
}
.accounts_right_side {
    border:1px solid black;
    width:50%;
}
.accounts_title {
    padding:15px 0;
    text-align: center;
}


/* Sign Up Page */
.signup_page_filter_cont {
    border: 1px solid red;
}
.signup_page_flex_cont {
    display: flex;
    justify-content: space-evenly;
    padding:10px;
}
.signup_page_filter_question {
    text-align: center;
    margin:10px 0;
    font-weight: 300;
}
.signup_page_radio_inputs {
    display:none;
}
.signup_page_radio_labels {
    text-align: center;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 10px 25px;
    position: relative;
    background-color: var(--light-grey);
    border-radius: 5px;
    margin:0 5px;
    transition: all 100ms linear;
    color: var(--off-black);
}
.signup_page_radio_labels:hover {
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: all 100ms linear;
}
.signup_page_radio_labels.radio_clicked {
    background: var(--gigin-orange);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: var(--true-white);
    transition: all 100ms linear;
}
.signup_page_radio_labels.radio_clicked {
    background: var(--gigin-orange);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: var(--true-white);
    transition: all 100ms linear;
}
.signup_page_radio_labels.radio_clicked {
    background: var(--gigin-orange);
    box-shadow: inset 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
    color: var(--true-white);
    transition: all 100ms linear;
}


