.dynamic_box {
    display: flex;
    flex-direction: column;
    background-color: var(--off-white);
    width:95%;
    margin: 0 auto;
    border-radius: 5px;
    padding:15px;
}
.dynamic_box .nav_ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}
.dynamic_box .nav_li {
    text-align: center;
    padding:10px 25px;
    background-color: var(--medium-grey);
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: 100ms linear;
}
.dynamic_box .nav_li:hover {
    background-color: var(--light-grey);
    transition: 100ms linear;
}
.dynamic_box .nav_li.active {
    background-color: var(--true-white);
    font-weight: 500;
}
.outlet {
    background-color: var(--true-white);
}
