/* *** PAGE SETUP *** */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--quicksand);
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --quicksand: 'Quicksand', sans-serif;
    --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --light-grey: #e4e4e4;
    --medium-grey:#c7c7c7;
    --dark-grey:#727272;
    --trans-grey:#efefefa0;
    --trans-grey-dark:#252525a0;
    --true-black:#000000;
    --true-white:#ffffff;
    --off-black:#282828;
    --off-white:#efefef;
    --gigin-orange:#FD6A00;
    --gigin-orange-trans:#ff6a007e;
}

/* COMMON CLASSES */
/* Loading spinner */
.loader_cont {
    width:100%;
    min-height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    border: 5px solid var(--gigin-orange);
    border-top: 5px solid var(--true-white);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Logo */
.gigin_logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap:5px;
    text-decoration: none;
    color: var(--true-black);
}
.logo_img {
    width:35px;
}
.logo_text {
    font-family: var(--quicksand);
    color: var(--gigin-orange);
    font-weight: 600;
    font-size: 2rem;
}

/* Loading modal */
.loading_modal {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: var(--trans-grey-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    gap:15px;
    border-radius: 10px;
}
.loading_modal_message {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--true-white);
}
  
/* Form error messages */
.error_message {
    color:red;
    font-size: 0.7rem;
    margin-top:5px;
}

/* Common btn styling */ 
.btn {
    font-family: var(--quicksand);
    border:none;
    background-color: var(--true-white);
    padding:5px;
    font-size: 1rem;
    transition: all 100ms linear;
}
.btn:hover {
    color: var(--dark-grey);
    transition: all 100ms linear;
    cursor: pointer;
}
.btn:active {
    color: var(--gigin-orange);
    transition: all 100ms linear;
}
.btn:disabled {
    cursor: not-allowed;
}
.orange_buttons {
    font-family: var(--quicksand);
    color: var(--true-white) !important;
    padding:5px 15px;
    border-radius: 5px;
    background-color: var(--gigin-orange);
}
.orange_buttons:hover {
    background-color: var(--gigin-orange-trans);
}
.orange_buttons:disabled {
    background-color: var(--gigin-orange-trans);
}

/* Common link styling */
.link {
    text-decoration: none;
    color: var(--true-black);
    font-size: 1rem;
}
.link:hover {
    color: var(--dark-grey);
    transition: all 100ms linear;
    cursor: pointer;
}
.link:active {
    color: var(--gigin-orange);
    transition: all 100ms linear;
}








