/* *** PAGE SETUP *** */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --light-grey: #e4e4e4;
    --trans-grey:#efefefa0;
    --true-black:#000000;
    --true-white:#ffffff;
    --off-black:#282828;
    --off-white:#efefef;
    --gigin-orange:#FD6A00;
    --gigin-orange-trans:#ff6a007e;
}

/* COMMON CLASSES */
/* Loading spinner */
.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid var(--gigin-orange);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  







