.build_a_gig_card_link {
    justify-content: center;
    align-items: center;
    gap:25px;
    transition: all 200ms linear;
}
.build_a_gig_card_link:hover {
    color: var(--gigin-orange);
    transition: all 200ms linear;
}
.build_a_gig_card_icon {
    font-size: 5rem;
}
.build_a_gig_card_link h2 {
    font-weight: 400;
    font-size: 1.2rem;
}
